:root {
    /* Colors */
    --bg                : #000000;
    --bg-focussed       : #181818;
    --fg                : #c6bfb3;
    --fg-focussed       : #FFFEF2;
    --accent            : #486d4a;


    /* Font */
    --font              : Hack;
    --font-size         : 12px;
    --font-weight       : bold;

    /* Bar size (0-30) */
    /* Use normal density (customize>density) */
    --bar-height        : 20px;
}

/*** Tabs bar ***/

/* Full tab width */
.tabbrowser-tab[fadein]:not([pinned]) { max-width: 100% !important; }
.tab-label { -moz-box-flex: 1 !important; text-align: center !important; } /* Center text */

/* Fix size of tab bar */
.tabbrowser-tab { max-height: var(--bar-height) !important; }
.tabbrowser-tab[pinned]{ width: 35px !important; }

/* Hide newtab button & tab close button & tab line & icon for non-pinned tabs */
#tabs-newtab-button > image, .tab-close-button, .tab-line, .tab-icon-image:not([pinned]) { display: none !important; }
#tabbrowser-tabs { margin-right: -15px !important; } /* Disable click newtab button */
.tabbrowser-tab { margin-top: -2px !important; } /* Remove space left by tab line */

/* Remove small border under tabs & seperator line between tabs */
#navigator-toolbox, .tabbrowser-tab::after, .tabbrowser-tab::before  { border: none !important; }

/* Show all tabs & disable scroll bar */
.tabbrowser-tab { min-width: initial !important; }
.tab-content { overflow: hidden !important; }

/*** Navigation bar ***/

/* Hide buttons */
#back-button,
#forward-button,
.urlbar-go-button,
#stop-button,
#reload-button,
#tracking-protection-icon-container,
.urlbar-history-dropmarker,
#pageActionButton,
#permissions-granted-icon,
#pocket-button-box,
#identity-box > *:not(#identity-icon),
#pageActionSeparator, #pocket-button
{ display: none !important; }

/* Remove focus animation */
#urlbar-background { border: none !important; }
#urlbar:not(:focus-within) { box-shadow: none !important; }

/* Center url bar */
#urlbar-input { text-align: center !important; }
#urlbar {
    width: 60% !important;
    position: absolute !important;
    left:51%!important; right:49%!important;
    transform: translateX(-50%);
    border: none !important; 
}

/* Set navbar on same line as tabs  */
#nav-bar:not([customizing]) {
    margin-bottom: calc(var(--bar-height) - 71px) !important;
    pointer-events: none;
    z-index: 2 !important;
    transition: all 200ms, z-index 0ms !important;
    opacity: 0;
}

#navigator-toolbox:not([customizing]):focus-within #nav-bar {
    margin-top: -35px !important; 
    margin-bottom: calc(var(--bar-height) - 36px) !important; 
    pointer-events: auto;
    opacity: 1 !important;
}

/*** Fonts ***/
* {
    font-family: var(--font)        !important;
    font-size:   var(--font-size)   !important;
    font-weight: var(--font-weight) !important;
}

/*** Colors ***/
/* Set firefox to darkmode(customize>themes) to get colors */
:root {
    /* Toolbar */
    --lwt-text-color: var(--fg)                             !important; /* Tab text color */
    --toolbar-color: var(--fg-focussed)                     !important; /* Focussed tab text color */
    --lwt-accent-color: var(--bg)                           !important; /* Tab color */
    --toolbar-bgcolor: var(--bg-focussed)                   !important; /* Focussed tab color & bar color */
    --lwt-toolbarbutton-icon-fill: var(--fg-focussed)       !important; /* Button colors */
    --lwt-toolbar-field-focus-color: var(--fg)              !important; /* Text color toolbar */

    /* Autocomplete Popup */
    --urlbar-popup-url-color: var(--accent)                 !important; /* Color urls */
    --urlbar-popup-action-color: var(--accent)              !important; /* Color actions */
    --autocomplete-popup-highlight-color: var(--fg-focussed)!important; /* Color selected item */
    --autocomplete-popup-highlight-background: var(--accent)!important; /* Color selected item background */
    --panel-separator-color: transparent                    !important; /* Color seperator */
    --lwt-toolbar-field-focus: var(--bg)                    !important; /* Color search suggestion box */

    /* Sidebar */
    --lwt-sidebar-text-color: var(--fg)                     !important;
    --lwt-sidebar-background-color: var(--bg)               !important;

    /* Popups */
    --arrowpanel-background: var(--bg)                      !important;
    --arrowpanel-color: var(--fg)                           !important;
}

/* Change color loading animation */
.tab-throbber::before { fill: var(--accent) !important; opacity: 1 !important; }
.tabbrowser-tab { --tab-loading-fill: var(--accent) !important; }
.tab-throbber::before { fill: var(--accent) !important; }
